// Palette

// Colour Variables
$white: #ffffff;
$background: #0a090a;
$tone1:#BD8C6B;
$tone2:#422367;
$tone3:#31184F;
$tone4:#DFB444;
$tone5:#8f859a;
$tone6:#F52E3C;
$tone7:#FF828B;
$tone8:#fde480;
$tone9:#fdf4c2;

$text2:#422222;

$shadow1:#ffffff7a;